.flex-container {
    display: flex;
    background-color: blueviolet;
    padding: 10px;
    border: solid #000 2px;
}
.flex-container div {
    background-color: #912;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid #000;
}