@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    background-image: url(../images/background-dental.webp);
}
.card {
    width: 100%;
    margin-top: 10xp;
}
.card-img-top {
    height: 30vh;
}