@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    background-image: url(../images/background-dental.webp);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: #191724;
    color: #fff;
}

p{
    color: rgb(109, 108, 108);
}
.titulo {
    color:rgb(109, 108, 108) ;
}
.carousel {
    width: 100%;
    margin-top: 10xp;
}
.carousel img {
    height: 60vh;
}

.input-container {
    width: 280px;
    position: relative;
}

label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #070707
}
.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #8165fc;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff
}
.label::before{
    content: "";
    height: 5px;
    background: #8165fc;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}
.text-input:focus{
    border: 2px solid #5805d4;
}
.text-input:focus + .label,
.filled{
    top: -10px;
    color: #4500ac;
    font-size: 14px;
}
.text-input::placeholder{
    font-size: 16px;
    color:azure;
    opacity: 0;
    transition: all 0.3s;
}
.text-input:focus::placeholder{
    opacity: 1;
}